body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", sans-serif
}

.w3-bar,
h1,
button {
	font-family: "Montserrat", sans-serif
}

.comenzar-button {
	background-color: #111;
}

.fa-laptop {
	font-size: 250px;
}
.fa-code, .fa-file-code-o {
	font-size: 200px;
}

footer a {
	padding-left: 10px;
	padding-right: 10px;
}